@model MangaBook_Models.MangaBook

@{
    ViewData["Title"] = "Create";
}

@if (User.IsInRole("Admin") == false && (User.IsInRole("System_Admin") == false))
{
    <script>
        window.location.href = '/Identity/Account/AccessDenied';
    </script>
}

<div class="manga-page-container">
    <h1 class="manga-form-title">Create</h1>
    <h4>MangaBook</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" class="manga-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="ReleaseDate" class="control-label"></label>
                    <input asp-for="ReleaseDate" class="form-control" />
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AuthorId" class="control-label"></label>
                    <select asp-for="AuthorId" class ="form-control" asp-items="ViewBag.AuthorId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="GenreId" class="control-label"></label>
                    <select asp-for="GenreId" class ="form-control" asp-items="ViewBag.GenreId"></select>
                </div>
                <div class="form-group manga-page-actions">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
