@model MangaBook_Models.Author

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Author</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="geboorteDatum" class="control-label"></label>
                <input asp-for="geboorteDatum" class="form-control" />
                <span asp-validation-for="geboorteDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <textarea asp-for="description" class="form-control"></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="favoriteFood" class="control-label"></label>
                <input asp-for="favoriteFood" class="form-control" />
                <span asp-validation-for="favoriteFood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationaliteit" class="control-label"></label>
                <input asp-for="Nationaliteit" class="form-control" />
                <span asp-validation-for="Nationaliteit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavorieteSport" class="control-label"></label>
                <input asp-for="FavorieteSport" class="form-control" />
                <span asp-validation-for="FavorieteSport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
