@model MangaBook_Models.Genre
@using AspNetCore.Unobtrusive.Ajax;
@using Manga_Web.Services
@using Microsoft.AspNetCore.Mvc.Localization;

@inject IHtmlLocalizer<SharedResource> _shared
@inject IViewLocalizer _localizer

@{
    Layout = null;
}

@* Dit is een systematische manier om wijzigingen te maken in de backend via de EditGenre view (PartialView), zie GenreController in de Controllers voor de code *@
@using (Html.AjaxBeginForm("EditGenre", "Genres", new AjaxOptions {HttpMethod = "post", InsertionMode= InsertionMode.Replace, UpdateTargetId = Model.Id.ToString() }))
{
    @Html.AntiForgeryToken()
    ;

    @if (User.IsInRole("Admin") == false && User.IsInRole("System_Admin") == false)
    {
        <script>
            window.location.href = '/Identity/Account/AccessDenied';
        </script>
    }

    <tr id="@Model.Id.ToString()" class="edit-genre-row">
     
        <td class="edit-genre-name">
            <input type="hidden" asp-for="Id" />
            <input asp-for="Name" class="form-control" onchange="$(this.form).submit()" />
        </td>
      
        <td class="edit-genre-description">
            <input asp-for="genreBeschrijving" class="form-control" onchange="$(this.form).submit()" />
        </td>

        <td>
            <a class="action-link action-delete" asp-action="Delete" asp-route-id="@Model.Id">@_localizer["Verwijderen"]</a>
        </td>
    </tr>

}
