@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _Localizer
@{
    ViewData["Title"] = _Localizer["Privacybeleid"];
}
<h1>@ViewData["Title"]</h1>

<p>@_Localizer["Gebruik deze pagina om het privacybeleid van uw site te beschrijven."]</p>
