@model IEnumerable<MangaBook_Models.Nieuws_Bericht>

<link rel="stylesheet" href="~/css/Nieuws_Bericht.css" />
<script src="~/js/site.js" asp-append-version="true"></script>
@{
    ViewData["Title"] = "Nieuws";
}

<h1 class="Nieuws-h1">Nieuws berichten</h1>

@if (User.IsInRole("Admin") || User.IsInRole("System_Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Maak Nieuw Nieuws Bericht</a>
    </p>
}

<button class="sorteren btn btn-secondary">Sorteer op datum (Nieuwste eerst)</button>

<div class="Nieuws-container">
    @foreach (var item in Model)
    {

        <partial name="ViewNews" model="item" view-data="ViewData"/>

       @*  if (User.IsInRole("Admin,System_Admin"))
        {
            <partial name="ViewNews" model="item" view-data="ViewData"/>
        }
        else if(User.IsInRole("User"))
        {
            <partial name="ViewNews" model="item" view-data="ViewData"/>
        } *@
    }
</div>



